name: Deploy on merged PR

on:
  workflow_call:
    inputs:
      build_helper_branch:
        description: 'Build-helper branch to use (defaults to latest v8.* tag)'
        default: ''
        required: false
        type: string
    secrets:
      helper_token:
        required: true
      cache_aws_key_id:
        required: true
      cache_aws_key:
        required: true
      aws_key_id:
        required: true
      aws_key:
        required: true
      aws_account:
        required: true
      slack_token:
        required: true
      dockerhub_ro_token:
        required: false

jobs:
  deploy_actions:
    runs-on: ubuntu-24.04
    name: Deploy Docker
    env:
      docker_password: ${{ secrets.dockerhub_ro_token }}
      TERM: xterm-256color
      FORCE_COLOR: 2
      DOCKER_BUILDKIT: 1
    steps:
      - name: Login to Docker Hub
        if: ${{ env.docker_password }}
        uses: docker/login-action@v3
        with:
          username: "woosmap"
          password: ${{ secrets.dockerhub_ro_token }}
      - uses: actions/checkout@v4
      - uses: Woosmap/.github/.github/actions/checkout_build_helper@master
        with:
          helper_token: ${{ secrets.helper_token }}
          build_helper_branch: ${{ inputs.build_helper_branch }}
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Login to AWS ECR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.aws_account }}.dkr.ecr.us-east-1.amazonaws.com
          username: ${{ secrets.aws_key_id }}
          password: ${{ secrets.aws_key }}
      - name: Install Bender
        run: |
          pip install --break-system-packages --extra-index-url https://pypi.fury.io/Pfii9sZDGkGXEhXEmStx/webgeoservices/ "bender<4"
      - name: Release
        uses: ./helper/.github/actions/release
        with:
          slack_token: ${{ secrets.slack_token }}
          cache_aws_key_id: ${{ secrets.cache_aws_key_id }}
          cache_aws_key: ${{ secrets.cache_aws_key }}
      - name: Deploy Develop
        uses: ./helper/.github/actions/deploy
