name: PR Checker - Are your labels correct?

on:
  workflow_call:
    inputs:
      build_helper_branch:
        description: 'Build-helper branch to use (defaults to latest v8.* tag)'
        default: ''
        required: false
        type: string
    secrets:
      helper_token:
        required: true

jobs:
  check_actions:
    runs-on: ubuntu-24.04
    name: PR Checker
    env:
      TERM: xterm-256color
      FORCE_COLOR: 2
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v4
      - uses: Woosmap/.github/.github/actions/checkout_build_helper@dev/build-helper-branch-override
        with:
          helper_token: ${{ secrets.helper_token }}
          build_helper_branch: ${{ inputs.build_helper_branch }}
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Check
        uses: ./helper/.github/actions/check