name: Smoke Test

on:
  workflow_call:
    inputs:
      build_helper_branch:
        description: 'Build-helper branch to use (defaults to latest v8.* tag)'
        default: ''
        required: false
        type: string
      env:
        description: 'Env the command was ran'
        required: true
        default: 'develop'
        type: string
      tag:
        description: 'Tag to run smoke tests for'
        required: true
        default: 'Error'
        type: string
      pr:
        description: 'Pr which set off this run'
        required: true
        default: 'Error'
        type: string
      success:
        description: 'If the deploy was successful'
        required: true
        default: '1'
        type: string
      pr_deploy:
        description: 'If running a smoke-test on a PR set to true'
        required: false
        default: 'false'
        type: string
      regression_tests:
        description: 'Run non regression tests'
        required: false
        default: ''
        type: string
    secrets:
      helper_token:
        required: true
      slack_token:
        required: true
      woosmap_develop_api_key:
        required: false
      woosmap_prod_api_key:
        required: false

jobs:
  check_actions:
    runs-on: ubuntu-24.04
    name: Smoke Test After Deploy
    env:
      TERM: xterm-256color
      FORCE_COLOR: 2
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v4
      - uses: Woosmap/.github/.github/actions/checkout_build_helper@dev/build-helper-branch-override
        with:
          helper_token: ${{ secrets.helper_token }}
          build_helper_branch: ${{ inputs.build_helper_branch }}
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Zoidberg
        run: |
          echo "deb [trusted=yes] https://Pfii9sZDGkGXEhXEmStx@apt.fury.io/webgeoservices/ /" | sudo tee /etc/apt/sources.list.d/gemfury.list
          sudo apt-get update
          sudo apt-get install -y zoidberg
      - name: Smoke Test
        uses: ./helper/.github/actions/run_smoke_tests
        with:
          pr_deploy: ${{ inputs.pr_deploy }}
          slack_token: ${{ secrets.slack_token }}
        env:
          WOOSMAP_DEVELOP_API_KEY: ${{ secrets.woosmap_develop_api_key }}
          WOOSMAP_PROD_API_KEY: ${{ secrets.woosmap_prod_api_key }}
      - name: Run zoidberg non regression tests
        if: "${{ inputs.regression_tests != '' }}"
        run: |
          if [ -d "./zoidberg_tests" ]; then
            if [[ ${{ inputs.pr_deploy }} == true ]]; then
              output=$(zoidberg -d ./zoidberg_tests -p ${{ inputs.pr }} ${{ inputs.regression_tests }} -v)
            else
              output=$(zoidberg -d ./zoidberg_tests ${{ inputs.regression_tests }} -v)
            fi
            
            result=$(echo $output | tail -1 | tr -d '[:space:]')
            echo "Result : $result"
            if [[ $result != "success" ]]; then
              echo "Non regression tests FAILED"
              exit 1
            fi
          fi
        env:
          WOOSMAP_DEVELOP_API_KEY: ${{ secrets.woosmap_develop_api_key }}
          WOOSMAP_PROD_API_KEY: ${{ secrets.woosmap_prod_api_key }}