name: Sonar scan & Deploy on merged PR

on:
  workflow_call:
    inputs:
      build_helper_branch:
        description: 'Build-helper branch to use (defaults to latest v8.* tag)'
        default: ''
        required: false
        type: string
      multi_arch:
        description: 'Enable multi-architecture builds (amd64 + arm64)'
        default: false
        required: false
        type: boolean
    secrets:
      helper_token:
        required: true
      sonar_token:
        required: true
      cache_aws_key_id:
        required: true
      cache_aws_key:
        required: true
      aws_key_id:
        required: true
      aws_key:
        required: true
      aws_account:
        required: true
      slack_token:
        required: true
      leela_token:
        required: true
      prod_leela_token:
        required: true
      dockerhub_ro_token:
        required: false

jobs:
  deploy_actions:
    strategy:
      matrix:
        include: ${{ fromJson(inputs.multi_arch && '[{"runner":"ubuntu-24.04","arch":"amd64"},{"runner":"ubuntu-24.04-arm","arch":"arm64"}]' || '[{"runner":"ubuntu-24.04","arch":"amd64"}]') }}
    runs-on: ${{ matrix.runner }}
    name: Deploy Docker${{ inputs.multi_arch && format(' ({0})', matrix.arch) || '' }}
    env:
      docker_password: ${{ secrets.dockerhub_ro_token }}
      TERM: xterm-256color
      FORCE_COLOR: 2
      DOCKER_BUILDKIT: 1
      ARCH_SUFFIX: ${{ inputs.multi_arch && format('-{0}', matrix.arch) || '' }}
    steps:
      - name: Login to Docker Hub
        if: ${{ env.docker_password }}
        uses: docker/login-action@v3
        with:
          username: "woosmap"
          password: ${{ secrets.dockerhub_ro_token }}
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: Woosmap/.github/.github/actions/checkout_build_helper@dev/build-helper-branch-override
        with:
          helper_token: ${{ secrets.helper_token }}
          build_helper_branch: ${{ inputs.build_helper_branch }}
      - name: Login to AWS ECR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.aws_account }}.dkr.ecr.us-east-1.amazonaws.com
          username: ${{ secrets.aws_key_id }}
          password: ${{ secrets.aws_key }}
      - name: Install Bender
        run: |
          pip install --break-system-packages --extra-index-url https://pypi.fury.io/Pfii9sZDGkGXEhXEmStx/webgeoservices/ "bender<4"
      - name: Release
        uses: ./helper/.github/actions/release
        with:
          slack_token: ${{ secrets.slack_token }}
          leela_token: ${{ secrets.leela_token }}
          prod_leela_token: ${{ secrets.prod_leela_token}}
          cache_aws_key_id: ${{ secrets.cache_aws_key_id }}
          cache_aws_key: ${{ secrets.cache_aws_key }}
      - name: Deploy Develop
        if: matrix.arch == 'amd64'
        uses: ./helper/.github/actions/deploy
        with:
          leela_token: ${{ secrets.leela_token }}
      - name: Restore code coverage cache
        if: matrix.arch == 'amd64'
        uses: ./helper/.github/actions/cache
        with:
          restore: "true"
          path: "./coverage/coverage.xml"
          key: "coverage"
          cache_aws_key_id: ${{ secrets.cache_aws_key_id }}
          cache_aws_key: ${{ secrets.cache_aws_key }}
      - name: SonarCloud Scan
        if: matrix.arch == 'amd64'
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.helper_token }}
          SONAR_TOKEN: ${{ secrets.sonar_token}}

  create_release_manifest:
    if: inputs.multi_arch
    needs: deploy_actions
    runs-on: ubuntu-24.04
    name: Create multi-arch release manifest
    env:
      docker_password: ${{ secrets.dockerhub_ro_token }}
      TERM: xterm-256color
      FORCE_COLOR: 2
    steps:
      - name: Login to Docker Hub
        if: ${{ env.docker_password }}
        uses: docker/login-action@v3
        with:
          username: "woosmap"
          password: ${{ secrets.dockerhub_ro_token }}
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: Woosmap/.github/.github/actions/checkout_build_helper@master
        with:
          helper_token: ${{ secrets.helper_token }}
          build_helper_branch: ${{ inputs.build_helper_branch }}
      - name: Login to AWS ECR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.aws_account }}.dkr.ecr.us-east-1.amazonaws.com
          username: ${{ secrets.aws_key_id }}
          password: ${{ secrets.aws_key }}
      - name: Create Release Manifest
        uses: ./helper/.github/actions/create_release_manifest
